

body{
    background-image: linear-gradient(to right, #D9BA82, #F2F2F2);
    
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0d0d0d52;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{ font-family: 'Rubik Glitch', cursive;
    color:#A67360 ;
    text-align: center;
    text-shadow: 1px 1px 2px #5c403669;
  
h2{ font-family: 'Rubik Glitch', cursive;
    color: #0D0D0D;
}

